# fly.toml app configuration file generated for onc-meta on 2023-07-20T12:44:45-05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "onc-meta"
primary_region = "ord"
console_command = "/rails/bin/rails console"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 1
  processes = ["app"]

[[statics]]
  guest_path = "/rails/public"
  url_prefix = "/"
