<div class="box is-fullheight">
  <aside class="menu">
    <p class="menu-label">
      General
    </p>
    <ul class="menu-list">
      <li><a>Samples</a></li>
      <li><a>Sequencing Products</a></li>
      <li><a>Pipeline Outputs</a></li>
      <li><a href="<%= projects_path %>">Projects</a></li>
    </ul>
    <p class="menu-label">
      Meta
    </p>
    <ul class="menu-list">
      <li><a>Input Bundles</a></li>
      <li><a>Help</a></li>
    </ul>
  </aside>
</div>
