<div class="box is-fullheight">
  <aside class="menu">
    <p class="menu-label">
      General
    </p>
    <ul class="menu-list">
      <li><a id='samples-menu-item' href="<%= samples_path %>">Samples</a></li>
      <li><a id="sequencing-products-menu-item" href="<%= sequencing_products_path %>">Sequencing Products</a></li>
      <li><a id="pipeline-outputs-menu-item" href="<%= pipeline_outputs_path %>">Pipeline Outputs</a></li>
      <li><a id='projects-menu-item' href="<%= projects_path %>">Projects</a></li>
    </ul>
    <p class="menu-label">
      Meta
    </p>
    <ul class="menu-list">
      <li><a>Input Bundles</a></li>
      <li><a>Help</a></li>
    </ul>
  </aside>
</div>
