.animate-slide-in {
  animation: fade-in 0.25s ease-out,
             slide-in 0.25s ease-out;
}

.animate-slide-out {
  animation: fade-out 0.25s ease-out,
             slide-out 0.25s ease-out;
}

.animate-expand-in {
  animation: fade-in 0.1s ease-out,
             zoom-in 0.1s ease-out;
             
}

.animate-fade-out {
  animation: fade-out 0.1s ease-out;
}

@keyframes zoom-in {
  from { transform: scale(0); }
  to { transform: scale(1); }
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes slide-in {
  from { transform: translateX(4rem); }
  to { transform: translateX(0); }
}

@keyframes slide-out {
  from { transform: translateX(0); }
  to { transform: translateX(4rem); }
}
